article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:"courier new",monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:"";content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
/* Reset by http://necolas.github.io/normalize.css/1.1.2/normalize.css */

/* Reset layout and grid by http://yui.yahooapis.com */
.layout, .grid {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.layout, .grid {
    word-spacing: -0.43em;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
}

.box-block, .box-a, .box-00, .box-05, .box-10, .box-15, .box-20, .box-25, .box-30, .box-33, .box-35, .box-40, .box-45, .box-50, .box-55, .box-60, .box-65, .box-66, .box-70, .box-75, .box-80, .box-85, .box-90, .box-95, .box-100 {
    display: inline-block;
   *display: inline;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.in-a {
    padding: auto
}
.in-00 {
    padding: 0
}
.in-00-50 {
    padding: 0.5%
}
.in-01 {
    padding: 1%
}
.in-02 {
    padding: 2%
}
.in-02-50 {
    padding: 2.5%
}
.in-03 {
    padding: 3%
}
.in-04 {
    padding: 4%
}
.in-05 {
    padding: 5%
}
.in-07-50 {
    padding: 7.5%
}
.in-10 {
    padding: 10%
}
.in-15 {
    padding: 15%
}
.in-20 {
    padding: 20%
}
.in-25 {
    padding: 25%
}
.in-30 {
    padding: 30%
}

.out-a {
    margin: auto
}
.out-00 {
    margin: 0
}
.out-00-50 {
    margin: 0.5%
}
.out-01 {
    margin: 1%
}
.out-02 {
    margin: 2%
}
.out-02-50 {
    margin: 2.5%
 }
.out-03 {
    margin: 3%
}
.out-04 {
    margin: 4%
}
.out-05 {
    margin: 5%
}
.out-07-50 {
    margin: 7.5%
}
.out-10 {
    margin: 10%
}
.out-15 {
    margin: 15%
}
.out-20 {
    margin: 20%
}
.out-25 {
    margin: 25%
}
.out-30 {
    margin: 30%
}

.wrap-a {
    margin-left: auto;
    margin-right: auto
}
.wrap-00 {
    margin-left: 0;
    margin-right: 0
}
.wrap-05 {
    margin-left: 2.5%;
    margin-right: 2.5%
}
.wrap-10 {
    margin-left: 5%;
    margin-right: 5%
}
.wrap-15 {
    margin-left: 7.5%;
    margin-right: 7.5%
}
.wrap-20 {
    margin-left: 10%;
    margin-right: 10%
 }
.wrap-25 {
    margin-left: 12.5%;
    margin-right: 12.5%
 }
.wrap-30 {
    margin-left: 15%;
    margin-right: 15%
}
.wrap-33 {
    margin-left: 16.666%;
    margin-right: 16.666%
}
.wrap-35 {
    margin-left: 17.5%;
    margin-right: 17.5%
}
.wrap-40 {
    margin-left: 20%;
    margin-right: 20%
}
.wrap-45 {
    margin-left: 22.5%;
    margin-right: 22.5%
}

.pre-a {
    margin-left: auto
}
.pre-00 {
    margin-left: 0
}
.pre-02-50 {
    margin-left: 2.5%
}
.pre-05 {
    margin-left: 5%
}
.pre-07-50 {
    margin-left: 7.5%
}
.pre-10 {
    margin-left: 10%
}
.pre-15 {
    margin-left: 15%
}
.pre-20 {
    margin-left: 20%
 }
.pre-25 {
    margin-left: 25%
}
.pre-30 {
    margin-left: 30%
}
.pre-33 {
    margin-left: 33.333%
}
.pre-35 {
    margin-left: 35%
}
.pre-40 {
    margin-left: 40%
}
.pre-45 {
    margin-left: 45%
}
.pre-50 {
    margin-left: 50%
}
.pre-55 {
    margin-left: 55%
}
.pre-60 {
    margin-left: 60%
}
.pre-65 {
    margin-left: 65%
}
.pre-66 {
    margin-left: 66.666%
}
.pre-70 {
    margin-left: 70%
}
.pre-75 {
    margin-left: 75%
}
.pre-80 {
    margin-left: 80%
}
.pre-85 {
    margin-left: 85%
}
.pre-90 {
    margin-left: 90%
}
.pre-95 {
    margin-left: 95%
}

.box-a {
    width: auto
}
.box-00 {
    width: 0
}
.box-05 {
    width: 5%
}
.box-10 {
    width: 10%
}
.box-15 {
    width: 15%
}
.box-20 {
    width: 20%
}
.box-25 {
    width: 25%
}
.box-30 {
    width: 30%
}
.box-33 {
    width: 33.333%
}
.box-35 {
    width: 35%
}
.box-40 {
    width: 40%
}
.box-45 {
    width: 45%
}
.box-50 {
    width: 50%
}
.box-55 {
    width: 55%
}
.box-60 {
    width: 60%
}
.box-65 {
    width: 65%
}
.box-66 {
    width: 66.666%
}
.box-70 {
    width: 70%
}
.box-75 {
    width: 75%
}
.box-80 {
    width: 80%
}
.box-85 {
    width: 85%
}
.box-90 {
    width: 90%
}
.box-95 {
    width: 95%
}
.box-100 {
    width: 100%
}
.box-block {
    display: block;
}
.box-fix-c, .fix-c {
    margin-left: auto;
    margin-right: auto;
    text-align: center /* Necessary for some browsers */
}

.post-a {
    margin-right: auto
}
.post-00 {
    margin-right: 0
}
.post-02-50 {
    margin-right: 2.5%
}
.post-05 {
    margin-right: 5%
}
.post-07-50 {
    margin-right: 7.5%
}
.post-10 {
    margin-right: 10%
}
.post-15 {
    margin-right: 15%
}
.post-20 {
    margin-right: 20%
}
.post-25 {
    margin-right: 25%
}
.post-30 {
    margin-right: 30%
}
.post-33 {
    margin-right: 33.333%
}
.post-35 {
    margin-right: 35%
}
.post-40 {
    margin-right: 40%
}
.post-45 {
    margin-right: 45%
}
.post-50 {
    margin-right: 50%
}
.post-55 {
    margin-right: 55%
}
.post-60 {
    margin-right: 60%
}
.post-65 {
    margin-right: 65%
}
.post-66 {
    margin-right: 66.666%
}
.post-70 {
    margin-right: 70%
}
.post-75 {
    margin-right: 75%
}
.post-80 {
    margin-right: 80%
}
.post-85 {
    margin-right: 85%
}
.post-90 {
    margin-right: 90%
}
.post-95 {
    margin-right: 95%
}


.float-l {
    float: left
}

.float-r {
    float: right
}

.float-n {
    float: none
}

.layout, .floats-clean {
    *zoom: 1
}

.floats-clean:before,
.floats-clean:after,
.layout:before,
.layout:after {
  display: table;
  line-height: 0;
  content: "";
}

.floats-clean:after,
.layout:after {
  clear: both;
}

.txt-c {
    text-align: center
}

.txt-l {
    text-align: left
}

.txt-r {
    text-align: right
}

.pos-abs {
    position: absolute
}
.pos-fix-t, .pos-fix-b, .pos-fix-l, .pos-fix-r {
    position: fixed;
    z-index: 999;
}
.pos-fix-t {
    top: 0
}
.pos-fix-b {
    bottom: 0
}
.pos-fix-l {
    left: 0
}
.pos-fix-r {
    right: 0
}

.marg-t-00-50 {
    margin-top: 0.5%
}
.marg-t-01 {
     margin-top: 1%
}
.marg-t-02 {
     margin-top: 2%
}
.marg-t-03 {
     margin-top: 3%
}
.marg-t-04 {
     margin-top: 4%
}
.marg-t-05 {
     margin-top: 5%
}
.marg-t-07-50 {
     margin-top: 7.5%
}
.marg-t-10 {
     margin-top: 10%
}
.marg-t-15 {
     margin-top: 15%
}
.marg-t-20 {
     margin-top: 20%
}
.marg-t-25 {
     margin-top: 25%
}
.marg-t-30 {
     margin-top: 30%
}

.marg-b-00-50 {
    margin-bottom: 0.5%
}
.marg-b-01 {
     margin-bottom: 1%
}
.marg-b-02 {
     margin-bottom: 2%
}
.marg-b-03 {
     margin-bottom: 3%
}
.marg-b-04 {
     margin-bottom: 4%
}
.marg-b-05 {
     margin-bottom: 5%
}
.marg-b-07-50 {
     margin-bottom: 7.5%
}
.marg-b-10 {
     margin-bottom: 10%
}
.marg-b-15 {
     margin-bottom: 15%
}
.marg-b-20 {
     margin-bottom: 20%
}
.marg-b-25 {
     margin-bottom: 25%
}
.marg-b-30 {
     margin-bottom: 30%
}

.brd {
    border: 1px solid;
}
.brd-t {
    border-top: 1px solid;
}
.brd-l {
    border-left: 1px solid;
}
.brd-r {
    border-right: 1px solid;
}
.brd-b {
    border-bottom: 1px solid;
}

.btn {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: rgba(0,0,0,.8);
    border: 0 rgba(0,0,0,0);
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: .1s linear -webkit-box-shadow;
    -moz-transition: .1s linear -moz-box-shadow;
    -ms-transition: .1s linear box-shadow;
    -o-transition: .1s linear box-shadow;
    transition: .1s linear box-shadow
}

.btn:hover, .btn-style-hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
    background-image: -ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
}

.btn:active {
    opacity: .8
}

.group-v, .group-h {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display: inline-block;
   *display: inline
}

.group-v > .group-v {
    display: block
}

.group-h > .btn, .group-h > .sep-v, .group-h > li > .btn, .group-h > li > .sep-v {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    *display: inline;
    min-width: 1px;
    min-height: 1px
}

.group-v > .btn, .group-v > .sep-h, .group-v >li > .btn, .group-v > li > .sep-h {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display: block;
    float: none;
    min-width: 100%;
    max-width: 100%
}
.group-v.group-v-fx-radius > .btn, .group-h.group-h-fx-radius > .btn, .group-v.group-v-fx-radius > li > .btn, .group-h.group-h-fx-radius > li > .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.group-v-fx-radius > .btn:first-child, .group-v-fx-radius > li:first-child > .btn {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
.group-v-fx-radius > .btn:last-child, .group-v-fx-radius > li:last-child > .btn {
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}
.group-h-fx-radius > .btn:first-child, .group-h-fx-radius > li:first-child > .btn {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}
.group-h-fx-radius > .btn:last-child, .group-h-fx-radius > li:last-child > .btn {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.line-h, .sep-h {
    min-height: 1px;
    height: 1px;
    min-width: 100%;
    width: 100%;
}
.line-v {
    min-height: 80%;
    height: 80%
}

.line-h {
    min-width: 80%;
    width: 80%
}

.breadcrumb, .ul-no-list {
    list-style-type: none;
    padding-left: 0
}
.breadcrumb > li {
    display: inline-block;
   *display: inline
}
.breadcrumb > li:before {
    content: " » "
}

@media (min-width:980px) {
    .visible-phone {
        display:none !important
    }
    .visible-tablet {
        display:none !important
    }
    .hidden-desktop {
        display:none !important
    }
}
@media (max-width:480px) {
    [class *="box-"] {
        width: 100%
    }
    [class *="fx-box-"] {
        width:auto;
    }
    [class *="pre-"] {
        margin-left: auto
    }
    [class *="float-"] {
        float: none
    }
    .btn.float-r {
        float: right
    }
    .btn.float-l {
        float: left
    }
    .btn.float-n {
        float: none
    }
}
@media (max-width:767px) {
    [class *="box-"] {
        width: 100%
    }
    [class *="fx-box-"] {
        width:auto;
    }
    [class *="pre-"] {
        margin-left: auto
    }
    [class *="float-"] {
        float: none
    }
    .btn.float-r {
        float: right
    }
    .btn.float-l {
        float: left
    }
    .btn.float-n {
        float: none
    }
    .hidden-phone {
        display:none !important
    }
    .visible-desktop {
        display:none !important
    }
}
@media (min-width:768px) and (max-width:979px) {
    .hidden-tablet {
        display:none !important
    }
    .visible-desktop {
        display:none !important
    }
}
/* All fx-* is separated in two groups, one here where the ux is not interrupted when a fx is not valuable in some browsers and the others... (not included in the front end framework / leaved to the discretion of the final app developer)*/

/* originally authored by http://www.paulund.co.uk/creating-different-css3-box-shadows-effects*/
.fx-box-radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px

}
.fx-box-shadowed {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777
}

.fx-box-shadowed-white {
    -webkit-box-shadow: 0 10px 6px -6px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 10px 6px -6px rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 6px -6px rgba(255, 255, 255, 0.5)
}

.fx-box-curve-light {
    position: relative
}
.fx-box-curve-light:before, .fx-box-curve-light:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg)
}
.fx-box-curve-light:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto
}

.fx-box-curve-high {
    position: relative
}
.fx-box-curve-high:before, .fx-box-curve-high:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg)
}
.fx-box-curve-high:after{
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto
}

.fx-box-fore-surface-h {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
}
.fx-box-fore-surface-h:before, .fx-box-fore-surface-h:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px
}
.fx-txt-fore-surface-h:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg)
}

.fx-box-fore-surface-v {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
}
.fx-box-fore-surface-v:before, .fx-box-fore-surface-v:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px
}
.fx-box-fore-surface-v:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg)
}

/* originally authored by http://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/ */
.fx-txt-shadowed  {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1)
}

.fx-txt-shadowed-white {
    text-shadow: 0px 4px 3px rgba(255,255,255,0.4),
             0px 8px 13px rgba(255,255,255,0.1),
             0px 18px 23px rgba(255,255,255,0.1)
}

.fx-txt-fore-surface {
    text-shadow: 0px 3px 0px #777,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1)
}

.fx-txt-3d {
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15)
}

.fx-txt-inscribe {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

}

.fx-txt-glow, .fx-txt-glow-hover:hover {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7)
}

.fx-txt-super-hero {
    text-shadow: -10px 10px 0px #777,
                 -20px 20px 0px #CCC,
                 -30px 30px 0px #BDBDBD
}
.fx-txt-light-sources {
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05)
}
.fx-txt-emboss {
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

/* originally authored by http://daneden.me/animate/ */

.fx-point-out-rollOut, 
.fx-point-out-rollIn,
.fx-point-out-pulse,
.fx-point-out-wiggle,
.fx-point-out-wobble,
.fx-point-out-swing,
.fx-point-out-tadaaam,
.fx-point-out-bounce,
.fx-point-out-shake,
.fx-point-out-flash,
.fx-hover-rollOut:hover, 
.fx-hover-rollIn:hover,
.fx-hover-pulse:hover,
.fx-hover-wiggle:hover,
.fx-hover-wobble:hover,
.fx-hover-swing:hover,
.fx-hover-tadaaam:hover,
.fx-hover-bounce:hover,
.fx-hover-shake:hover,
.fx-hover-flash:hover {
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
}
.fx-point-out-hinge, .fx-hover-hinge:hover {
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;}
}
@-moz-keyframes flash {
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;}
}
@keyframes flash {
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;}
}
.fx-point-out-flash, .fx-hover-flash:hover {
    -webkit-animation-name: flash;
    -moz-animation-name: flash;
    -o-animation-name: flash;
    animation-name: flash;
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@-moz-keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.fx-point-out-shake, .fx-hover-shake:hover {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
.fx-point-out-bounce, .fx-hover-bounce:hover {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}

@-webkit-keyframes tada {
    0% {-webkit-transform: scale(1);}   
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
    100% {-webkit-transform: scale(1) rotate(0);}
}
@-moz-keyframes tada {
    0% {transform: scale(1);}   
    10%, 20% {transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
    100% {transform: scale(1) rotate(0);}
}
@keyframes tada {
    0% {transform: scale(1);}   
    10%, 20% {transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
    100% {transform: scale(1) rotate(0);}
}
.fx-point-out-tadaaam, .fx-hover-tadaaam:hover {
    -webkit-animation-name: tada;
    -moz-animation-name: tada;
    -o-animation-name: tada;
    animation-name: tada;
}

@-webkit-keyframes swing {
    20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
    20% { -webkit-transform: rotate(15deg); }   
    40% { -webkit-transform: rotate(-10deg); }
    60% { -webkit-transform: rotate(5deg); }    
    80% { -webkit-transform: rotate(-5deg); }   
    100% { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes swing {
    20% { transform: rotate(15deg); }   
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(5deg); }    
    80% { transform: rotate(-5deg); }   
    100% { transform: rotate(0deg); }
}
@keyframes swing {
    20% { transform: rotate(15deg); }   
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(5deg); }    
    80% { transform: rotate(-5deg); }   
    100% { transform: rotate(0deg); }
}
.fx-point-out-swing, .fx-hover-swing:hover {
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes wobble {
    0% { -webkit-transform: translateX(0%); }
    15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
    30% { -webkit-transform: translateX(20%) rotate(3deg); }
    45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
    60% { -webkit-transform: translateX(10%) rotate(2deg); }
    75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
    100% { -webkit-transform: translateX(0%); }
}
@-moz-keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}
@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}
.fx-point-out-wobble, .fx-hover-wobble:hover {
    -webkit-animation-name: wobble;
    -moz-animation-name: wobble;
    -o-animation-name: wobble;
    animation-name: wobble;
}

@-webkit-keyframes wiggle {
    0% { -webkit-transform: skewX(9deg); }
    10% { -webkit-transform: skewX(-8deg); }
    20% { -webkit-transform: skewX(7deg); }
    30% { -webkit-transform: skewX(-6deg); }
    40% { -webkit-transform: skewX(5deg); }
    50% { -webkit-transform: skewX(-4deg); }
    60% { -webkit-transform: skewX(3deg); }
    70% { -webkit-transform: skewX(-2deg); }
    80% { -webkit-transform: skewX(1deg); }
    90% { -webkit-transform: skewX(0deg); }
    100% { -webkit-transform: skewX(0deg); }
}
@-moz-keyframes wiggle {
    0% { transform: skewX(9deg); }
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(7deg); }
    30% { transform: skewX(-6deg); }
    40% { transform: skewX(5deg); }
    50% { transform: skewX(-4deg); }
    60% { transform: skewX(3deg); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}
@keyframes wiggle {
    0% { transform: skewX(9deg); }
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(7deg); }
    30% { transform: skewX(-6deg); }
    40% { transform: skewX(5deg); }
    50% { transform: skewX(-4deg); }
    60% { transform: skewX(3deg); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}
.fx-point-out-wiggle, .fx-hover-wiggle:hover {
    -webkit-animation-name: wiggle;
    -moz-animation-name: wiggle;
    -o-animation-name: wiggle;
    animation-name: wiggle;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.fx-point-out-pulse, .fx-hover-pulse:hover {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes hinge {
    0% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }    
    20%, 60% { -webkit-transform: rotate(80deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }  
    40% { -webkit-transform: rotate(60deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }   
    80% { -webkit-transform: rotate(60deg) translateY(0); opacity: 1; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
    100% { -webkit-transform: translateY(700px); opacity: 0; }
}
@-moz-keyframes hinge {
    0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }    
    20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }  
    40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; }   
    80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; } 
    100% { transform: translateY(700px); opacity: 0; }
}
@keyframes hinge {
    0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }    
    20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }  
    40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; }   
    80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; } 
    100% { transform: translateY(700px); opacity: 0; }
}

.fx-point-out-hinge, .fx-hover-hinge:hover {
    -webkit-animation-name: hinge;
    -moz-animation-name: hinge;
    -o-animation-name: hinge;
    animation-name: hinge;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes rollIn {
    0% { opacity: 0; -webkit-transform: translateX(-100%) rotate(-120deg); }
    100% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); }
}

@-moz-keyframes rollIn {
    0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
    100% { opacity: 1; transform: translateX(0px) rotate(0deg); }
}

@keyframes rollIn {
    0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
    100% { opacity: 1; transform: translateX(0px) rotate(0deg); }
}
.fx-point-out-rollIn, .fx-hover-rollIn:hover {
    -webkit-animation-name: rollIn;
    -moz-animation-name: rollIn;
    -o-animation-name: rollIn;
    animation-name: rollIn;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes rollOut {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0px) rotate(0deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(100%) rotate(120deg);
    }
}
@-moz-keyframes rollOut {
    0% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translateX(100%) rotate(120deg);
    }
}
@keyframes rollOut {
    0% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translateX(100%) rotate(120deg);
    }
}
.fx-point-out-rollOut, .fx-hover-rollOut:hover {
    -webkit-animation-name: rollOut;
    -moz-animation-name: rollOut;
    -o-animation-name: rollOut;
    animation-name: rollOut;
}